/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3.5rem;

  --first-hue: 2007;
  --sat: 90%;
  --lig: 72%;
  --second-hue: 219;

  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 68%);
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);


  /* Fonts*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /* Font Weight */
  --font-medium: 500;
  --font-semibold: 600;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 767px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (min-width: 968px) {
  :root {
    font-size: 20px;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    font-size: 24px;
  }
}

@media screen and (min-width: 2560px) {
  :root {
    font-size: 32px;
  }
}

@media screen and (min-width: 3840px) {
  :root {
    font-size: 40px;
  }
}

/* BASE */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* REUSABLE CSS CLASSES */
.container{
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
}

.section__title-extra {
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}


/* Header and Nav bar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: 0.4s;
  padding-left: 2%;
}

.nav__logo:hover {
  color: var(--first-color-alt);
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, 8%);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);
  transition: 0.4s;

}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5rem;
}

.contact {
  padding-bottom: 5rem;
}

/* Active Link */
.active-link {
  background: linear-gradient(180deg, 
                hsla(var(--first-hue), var(--sat), var(--lig), 1),
                hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
              );
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
  color: var(--title-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 40px 30px hsla(0, 05%, 4%, 0.3);
}

/* HOME */
.home__container {
  position: relative;
  /*row-gap: 4.5rem;*/
  padding-top: 5%;
  padding-bottom: 5%;
}

.home__data {
  text-align: center;
}

.home__greeting,
.home__education {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.home__greeting {
  display: block;
  color: var(--title-color);
  margin-bottom: 0.25rem;
}

.home__education {
  color: var(--text-color);
  margin-bottom: 2.5rem;
}

.home__name {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
}

.home__img {
  width: 160px;
}

.home__handle {
  justify-self: center;
  width: 190px;
  height: 293px;
  background: linear-gradient(180deg,
              hsla(var(--first-hue), var(--sat), var(--lig), 1),
              hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
              );
  border-radius: 10rem 10rem 1rem 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home__social,
.home__scroll {
  position: absolute;
}

.home__social {
  bottom: 5rem;
  left: 0;
  display: grid;
  row-gap: 0.5rem;
}

.home__social-link {
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: flex;
  font-size: 1rem;
  transition: 0.4s;
}

.home__social-link:hover {
  background-color: var(--first-color);
  color: #fff;
}

.home__social::after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--first-color);
  transform: rotate(90deg) translate(16px, 3px);
}

.home__scroll {
  color: var(--first-color);
  right: -1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
}

.home__scroll-icon {
  font-size: 1.25rem;
}

.home__scroll-name {
  font-size: var(--smaller-font-size);
  transform: rotate(-90deg);
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.4s;
}

.button:hover {
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.button-ghost {
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

/* About */
.about__container {
  row-gap: 2.5rem;
}

.about__img {
  width: 220px;
  border-radius: 1.5rem;
  justify-self: center;
}

.about__data {
  text-align: center;
  padding: 0.5rem;
}

.about__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8.0rem;
  margin-bottom: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0.5rem;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
}

.about__box {
  background-color: var(--container-color);
  border-radius: 0.75rem;
  padding: 0.75rem 0.75rem;
  width: 10rem;
}

.about__icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.about__title {
  font-size: var(--small-font-size);
}

.about__subtitle {
  font-size: var(--tiny-font-size);
}

.about__desc-box {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  height: 10rem;
}

.about__description {
  margin-bottom: 2rem;
  text-align: center;
  font-size: var(--normal-font-size);
}

.footer__copyright-box {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  height: 10rem;
  justify-content: center;
}

/* Education */
.education__container {
  row-gap: 2rem;
  padding-top: 1rem;
  justify-content: center;
}

.education__content {
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
  width: 35rem;
}

.education__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semibold);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 0.25rem;
}

.education__subtitle {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--second-color);
  text-align: center;
  margin-bottom: 0.5rem;
}

.education__grade {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--second-color);
  text-align: center;
}

.education__box {
  display:grid;
  grid-column-gap:10px;
}

.education__group {
  display: grid;
  align-content: flex-start;
}

.education__data {
  align-items: center;
  display: flex;
  column-gap: 0.5rem;
}

.skills__data__left {
  text-align: right;
}

.education .bxs-badge-check {
  font-size: 1rem;
  color: var(--first-color);
}

.education__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 1rem;
}

.education__level {
  font-size: var(--tiny-font-size);
}

.education__modules-header {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Services */
.services__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.services__card {
  background-color: var(--container-color);
  padding: 3rem 1.5rem 1.5rem;
  border-radius: 1rem;
}

.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: 2.5rem;
}

.work__button {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.button-animation {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.work__button:hover .work__icon,
.button-animation:hover .work__icon {
  transform: translateX(0.25rem);
}

.work__icon {
  font-size: 1rem;
  transition: 0.4s;
}

.work__modal {
  position: fixed;
  inset: 0;
  background-color: hsla(var(--second-hue), 28%, 16%, 0.7);
  padding: 2rem 0rem;
  display: grid;
  place-items: center;
  visibility: hidden; 
  opacity: 0; 
  transition: 0.4s;
  z-index: var(--z-modal);
  max-height: calc(100vh);
  overflow-y: auto;
  align-self: center;
}

.work__modal-content {
  position: relative;
  background-color: var(--body-color);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 1.5rem;
}

.work__modal-title {
  text-align: center;
}

.work__modal-description {
  padding: 0 0;
  text-align: justify;
}

.work__modal-title {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.work__modal-description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.work__modal-list {
  display: grid;
  row-gap: 0.75rem;
}

.work__modal-item {
  display: flex;
  align-items: flex-start;
  column-gap: 0.5rem;
}

.work__modal-icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

.work__modal-info {
  font-size: var(--small-font-size);
}

.work__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

/* Active modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/* work */
.work__container {
  padding-top: 1rem;
  justify-content: center;
}

.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}

.work__item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
}

.work__card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
}

.work__img {
  border-radius: 1rem;
  margin-bottom: 0.75rem;
}

.work__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

/* .work__button {
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.work__button:hover .work__icon {
  transform: translateX(0.25rem);
} */

.work__icon {
  font-size: 1rem;
  transition: 0.4s;
}

/* Active item work */
.active-work {
  background-color: var(--first-color);
  color: var(--body-color);
}

.testimonial__card {
  background-color: var(--container-color);
  padding: 1.25rem 1.5rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
  width: 10rem;
}

.testimonial__img {
  width: 60px;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.testimonial__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.testimonial__description {
  font-size: var(--small-font-size);
}

.swiper-pagination-bullet {
  background-color: var(--text-color-light);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}





.flex-child {
  float: left;
  width: 50%;
}  

.flex-child > div {
  margin-right: 10%;
}

.magenta {
  width: 10%;
  margin-left: 20%;
  text-align: center;
  border-radius: 0.75rem;
}

.green {
  width: 50%;
  margin-right: 20%;
  height: 10%;
}

.contact__description {
  text-align: justify;
}

.contact__card {
  background-color: var(--container-color);
  border-radius: 0.75rem;
  text-align: center;
  float: right;
  width: 10rem;
  padding-bottom: 10%;
}

.contact__card-icon {
  font-size: var(--biggest-font-size);
  color: var(--titlefirst-color);
  margin-bottom: 5%;
  margin-top: 5%;
}

.contact__card-title,
.contact__card-data {
  font-size: var(--small-font-size);
}

.contact__card-title {
  font-weight: var(--font-medium);
}

.contact__card-data {
  display: block;
  margin-bottom: 10%;
}

.contact__button {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__button:hover .contact__button-icon {
  transform: translateX(0.25rem);
}

.contact__button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

#prefooter {
  padding-bottom: 15%;
}

/* Footer */
.footer {
  background-color: var(--first-color);
}

.footer__container {
  padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
  color: var(--body-color);
}

.footer__link:visited {
  color: var(--body-color);
}

.work__link:visited {
  color: inherit;
} 


.footer__title {
  text-align: center;
  margin-bottom: 2rem;
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link {
  background-color: var(--body-color);
  color: var(--first-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  display: inline-flex;
}

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}


/* Scroll bar */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 26%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--second-hue), 8%, 20%);
}

/* Theme */
.change-theme {
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
  padding-right: 2%;
}

.change-theme:hover {
  color: var(--first-color);
}

/* Light theme variables */
body.light-theme {
  --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);
  --body-color: hsl(var(--second-hue), 100%, 99%);
  --container-color: #fff
}

.light-theme .scroll-header {
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}

.light-theme .nav__menu {
  background-color: hsla(var(--second-hue), 32%, 90%, 0.8);
}

.light-theme .section__subtitle {
  color: var(--text-color);
}

.light-theme .home__social-link {
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme .home__social::after,
.light-theme .footer__social-link {
  background-color: var(--title-color);
}

.light-theme .home__social-link, 
.light-theme .home__scroll, 
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy {
  color: var(--title-color);
}

.light-theme .about__box {
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme .education__content,
.light-theme .services__card,
.light-theme .work__card,
.light-theme .testimonial__card, 
.light-theme .contact__card {
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme::-webkit-scrollbar {
  background-color: hsl(var(--second-hue), 8%, 66%);
}

.light-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 54%);
}

.light-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--second-hue), 8%, 44%);
}


/* Breakpoints */
/* Small devices */
@media screen and (max-width: 320px) {
  .nav__menu {
    padding: 1rem 1.5rem;
  }

  .home__buttons {
    flex-direction: column;
    display: flex;
  }

  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }

  .education__box {
    column-gap: 1rem;
  }

  .education__name {
    font-size: var(--small-font-size);
  }

  .services__container {
    grid-template-columns: 145px;
    justify-content: center;
  }

  .work__item {
    font-size: var(--small-font-size);
  }

  .work__filters {
    column-gap: 0.25rem;
  }

  .education__box {
    justify-content: baseline;
    column-gap: 2.5rem;
    column-count: 1;
  }

  .work__modal-content {
    width: 25rem;
    padding: 2rem 0rem 0rem;
  }
  .work__container {
    grid-template-columns: repeat(1, max-content);
  }

  
}

@media screen and (max-width: 576px) {
  .nav__menu {
    padding: 1rem 1.5rem;
  }

  .home__buttons {
    flex-direction: column;
    display: flex;
  }

  .home__handle {
    width: 150px;
    height: 253px;
  }

  .home__img {
    width: 130px;
  }

  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }

  .education__box {
    column-gap: 1rem;

  }

  .education__name {
    font-size: var(--small-font-size);
  }

  .services__container {
    grid-template-columns: 145px;
    justify-content: center;
  }

  .work__container {
    grid-template-columns: repeat(1, max-content);
  }

  .work__item {
    font-size: var(--small-font-size);
  }

  .work__filters {
    column-gap: 0.25rem;
  }


}

/* Medium devices */
@media screen and (min-width: 576px) {
  .nav__menu {
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .work__container {
    grid-template-columns: repeat(1, max-content);
  }
  .about__info {
    grid-template-columns: repeat(3, 14rem);
    justify-content: center;
  }

  .about__description {
    padding: 0 5rem;
  }

  .education__container {
    padding: 2rem 4rem;
  }

  .education__content {
    padding: 2rem 4rem;
  }

  .services__container {
    grid-template-columns: repeat(2, 160px);
    justify-content: center;
  }

  .work__img {
    width: 295px;
  }

  .work__modal-content {
    width: 20rem;
  }
}


@media screen and (min-width: 767px) {
  .work__container {
    grid-template-columns: repeat(1, max-content);
  }

  .work__card {
    padding: 1.25rem;
    width: 40rem;
  }

  .work__img {
    margin-bottom: 1rem;
    width: 40rem;
  }

  .work__title {
    margin-bottom: 0.5rem;
  }
  .work__modal-content {
    width: 40rem;
    padding: 4.5rem 2.5rem 2.5rem;
  }
}

/* Large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }

  .work__container {
    grid-template-columns: repeat(2, max-content);
  }
  .section {
    padding: 6.5rem 0 1rem;
  }


  .section__title-extra {
    margin-bottom: 3.5rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .home__handle {
    width: 290px;
    height: 400px;
  }

  .home__img {
    width: 220px;
  }

  .home__social-link {
    padding: 0.4rem;
    font-size: 1.25rem;
  }

  .home__social::after {
    transform: rotate(90deg) translate(16px 0);
  }

  .home__scroll-icon {
    font-size: 2rem;
  }

  /*.about_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
  }*/

  .about__img {
    width: 350px;
  }

  .about__data {
    text-align: center;
  }

  .about__info {
    justify-content: center;
  }

  .about__box {
    text-align: center;
    padding: 1rem 1.25rem;
  }

  .about__description {
    margin-bottom: 2.5rem;
  }

  .education__container {
    column-gap: 3rem;
  }

  .services__container {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3rem;
  }

  .services__card {
    padding: 5rem 2rem 1.5rem;
  }

  .work__card {
    padding: 1.25rem;
    width: 20rem;
  }

  .work__img {
    margin-bottom: 1rem;
    width: 20rem;
  }

  .work__title {
    margin-bottom: 0.5rem;
  }

  .testimonial__container {
    width: 60rem;
  }

  .testimonial__card {
    padding: 1.5rem 2rem;
  }

  .footer__social-link {
    font-size: 1.25rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
  }

  .work__modal-content {
    width: 50rem;
    padding: 4.5rem 2.5rem 2.5rem;
  }
}

@media screen and (min-width: 1920px) { 
  .education__container {
    grid-template-columns: repeat(2, max-content);
    column-gap: 3rem;
  }

  .work__card {
    padding: 1.25rem;
    width: 25rem;
  }

  .work__img {
    margin-bottom: 1rem;
    width: 25rem;
  }

  .work__title {
    margin-bottom: 0.5rem;
  }
  .testimonial__container {
    width: 50rem;
  }


}

@media screen and (min-width: 2560px) { 
  .work__container {
    grid-template-columns: repeat(3, max-content);
  }
  .work__card {
    padding: 1.25rem;
    width: 25rem;
  }

  .work__img {
    margin-bottom: 1rem;
    width: 25rem;
  }

  .work__title {
    margin-bottom: 0.5rem;
  }

  .testimonial__container {
    width: 55rem;
  }

  .work__modal-content {
    width: 70rem;
    padding: 4.5rem 2.5rem 2.5rem;
  }
}

@media screen and (min-width: 3840px) { 
  .work__container {
    grid-template-columns: repeat(3, max-content);
  }
  .work__card {
    padding: 1.25rem;
    width: 30rem;
  }

  .work__img {
    margin-bottom: 1rem;
    width: 30rem;
  }

  .work__title {
    margin-bottom: 0.5rem;
  }

  .testimonial__container {
    width: 60rem;
  }
  .work__modal-content {
    width: 100rem;
    padding: 4.5rem 2.5rem 2.5rem;
  }
}

.modal__img,
.modal__vid,
.modal__vid-div {
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  justify-self: center;
}

iframe{
  border: none;
}

.modal__vid-div {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.modal__vid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.description__link 
{
  color: var(--first-color-alt);
}

/* 
a, a:visited, a:active {
  color: inherit;
} */


/* * {
  box-sizing: border-box;
  font-family: "Roboto Slab";
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  padding-top: 1rem;
  
}


.row,
.row > .column {
  padding: 8px;
}




.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {
  background-color: white;
  padding: 10px;
}

.show {
  display: block;
}


.btn {
  background-color: white;
  border-color: white;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: rgb(113, 166, 209);
  color: white;
}

#myBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}

.checkbox {
  color: rgb(25, 196, 25);
}

.project_header {
  font-size: 200%;
  float: left;
}

.project_property {
  vertical-align: middle;
}

.project_properties {
  float: right;
} */
